.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
  }

  div.bar{
    display: inline-block;
    width: 20px;
    height: 75px;
    background-color: teal;
    margin-right: 2px;
  }

  .axis path,
  .axis line{
    fill:none;
    stroke: black;
    shape-rendering: crispEdges;
  }